input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-width: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  // line-height: 1.65;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: 0;
  cursor: pointer;
}

:root {
  --black: #000000;
  --footer-bg: #131617;
  --light-black: #828282;
  --yellow: #FFDA56;
  --grey: #4F4F4F;
  --light-grey: #C4C4C4;
  --white: #ffffff;
  --light-dark: #333333;
  --white-border: #E0E0E0;
  --link-white: #f2f2f2;
  --border-white: #E0E0E0;
  --border-two: #bdbdbd;
  --red: #EB5757;
  --btn-suff: #413A22;
}

.btn {
  background: var(--yellow);
  transition: all .2s ease;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 800px) {
  .back__top {
    display: none;
    bottom: 3vw;
    right: 6vw;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 4px solid var(--white);
    text-indent: -9999px;
    position: fixed;
    z-index: 999;

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      bottom: 0;
      transition: all 0.2s ease;
      margin: auto;
      width: 0;
      height: 0;
      padding: 10px;
      border: none;
      border-top: 4px solid var(--white);
      border-left: 4px solid var(--white);
      right: 14px;
      transform: rotate(45deg);
    }
  }
}



.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding: 10px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2)
}

header {
  background: var(--white);
  padding: 30px 0;
  z-index: 9;
  position: sticky;
  top: 0;
  transition: all .2s ease;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .logo {
      margin: 0 auto 0 0;
      padding: 10px 49px 10px 49px;
      background: var(--light-grey);
      color: var(--black);
    }

    nav {
      margin: auto;

      &>ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        &>li {
          position: relative;

          &>a {
            color: var(--grey);
            text-transform: uppercase;
            transition: all .2s ease;

            &:hover {
              color: var(--black);
            }
          }

          &>ul {
            top: 100%;
            left: -20px;
            position: absolute;
            opacity: 0;
            transition: all .2s ease;
            width: 262px;
            padding: 30px;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
            background: var(--white);
            display: flex;
            flex-direction: column;
            gap: 30px;
            transform: translateY(10px);
            pointer-events: none;

            &>li {
              &>a {
                display: flex;
                flex-direction: column;
                gap: 5px;
                color: var(--black);
                font-size: 14px;

                justify-content: center;
                white-space: nowrap;
              }
            }
          }

          &:hover>ul {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
          }
        }

        &>.has-child>a {
          padding-right: 14px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 0;
            height: 0;
            border: solid var(--grey);
            border-width: 0 1px 1px 0;
            transform-origin: right;
            display: block;
            padding: 3px;
            transform: rotate(45deg);
            transition: all .2s ease;
          }
        }
      }
    }

    .tel {
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      text-transform: uppercase;
      color: var(--black);
      margin: 0 0 0 auto;
      transition: all .2s ease;

      &:hover {
        color: var(--grey);
      }
    }

    .btn {
      padding: 12px 20px 12px 20px;
    }

    .btn--burger {
      display: none;
      padding: 0 26px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 6px;
      position: relative;
      background: var(--white);

      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 30px;
        background: var(--black);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        right: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease;
        transition: .2s ease;
        margin: auto;

        &:nth-child(1) {
          top: calc(50% - 10px);
        }

        &:nth-child(2) {
          top: 0;
          bottom: 0;
        }

        &:nth-child(4) {
          bottom: calc(50% - 10px);
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  header {
    nav {
      display: none;
    }

    .btn--burger {
      display: block !important;
    }
  }
}

@media screen and (max-width: 600px) {
  header {

    .tel,
    .btn {
      display: none;
    }
  }
}





.sec_1 {
  .sec_1-content {
    background: var(--light-dark);
    padding: 30px;

    h1 {
      font-weight: 600;
      font-size: 48px;
      color: var(--yellow);
    }

    p {
      font-size: 18px;
      color: var(--white);
      line-height: 110%;
    }
  }
}

@media screen and (max-width: 1050px) {
  .sec_1 {
    .sec_1-content {
      h1 {
        font-size: 28px;
      }
    }
  }

}

@media screen and (max-width: 480px) {
  .sec_1 {
    .sec_1-content {
      h1 {
        font-size: 25px;
      }

      p {
        line-height: 120%;
        font-size: 13px;
      }
    }
  }

}

.sec_2 {
  margin: 30px 0 90px 0;

  h2 {
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--black);
  }

  .sec_2-content {

    .sec_2-top {
      margin: 30px 0 23px 0;

      ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        a {
          padding: 6px 10px 6px 10px;
          border: 1px solid var(--white-border);
          background: var(--white);
          font-size: 14px;
          color: var(--black);
          transition: all .2s ease;

          &:hover {
            background: var(--link-white);
          }
        }
      }
    }

    .sec_2-items {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;

      .item {
        border: 1px solid var(--white-border);
        border-radius: 5px;
        position: relative;
        width: calc((100%/2) - (21px*3/4));

        .item_head {
          background: var(--link-white);
          padding: 18px 30px 18px 30px;

          h3 {
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            color: var(--black);
          }
        }

        .item_content {

          padding: 30px;
          display: flex;
          gap: 20px;

          a {
            position: relative;

            .hit {
              background-repeat: no-repeat;
              background-position: center;
              position: absolute;
              top: -15px;
              left: -15px;
              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-style: normal;
              text-transform: uppercase;
              color: var(--white);
              transform: rotate(-30deg);
              font-weight: 600;
              font-size: 9px;
            }

            img {
              height: 100%;
              object-fit: scale-down;
            }
          }



          .item_right {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .item_text {
              line-height: 120%;
              color: var(--light-black);
              border-bottom: 1px solid var(--white-border);

              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 6;
              -webkit-box-orient: vertical;
            }

            .price {

              display: flex;
              align-items: center;
              gap: 20px;
              justify-content: flex-end;

              p {
                font-size: 16px;
                line-height: 110%;
                color: var(--black);

                span {
                  font-weight: bold;
                  font-size: 24px;
                  color: var(--black);
                }

                .sale {
                  font-size: 17px;
                  text-decoration-line: line-through;
                  color: var(--red);
                  margin-right: 5px;
                }
              }
            }

            .btn {
              height: 34px;
              padding: 8px 20px 8px 20px;
              border-radius: 4px;
              color: var(--black);
              font-size: 14px;
            }
          }
        }
      }
    }

    &>.btn-yellow {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 150px;
      background: var(--yellow);
      font-size: 14px;
      color: var(--btn-suff);
      border-radius: 5px;
      padding: 12px 20px 12px 20px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .sec_2 .sec_2-content .sec_2-items .item .item_content {
    flex-direction: column;
  }

  .sec_2 .sec_2-content .sec_2-items .item .item_content .item_right .price {
    justify-content: space-between;
    width: 100%;
  }

  .sec_2 .sec_2-content .sec_2-items .item .item_content a {
    margin: 0 auto;
  }

  .sec_2 .sec_2-content .sec_2-items .item .item_content .item_right .btn {
    margin: 0;
  }
}

@media screen and (max-width: 650px) {
  .sec_2 .sec_2-content .sec_2-items .item .item_content a img {
    width: 100%;
  }

  .sec_2 .sec_2-content .sec_2-items .item {
    width: 100%;
  }

  .sec_2 {
    margin: 30px 0 30px 0;
  }

  .sec_2 .sec_2-content .sec_2-items .item .item_head h3 {
    font-size: 13px;
    text-align: center;
  }

  .sec_2 .sec_2-content .sec_2-items .item .item_content .item_right .item_text {
    display: none;
  }

  .left {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .sec_2 .sec_2-content .sec_2-items .item .item_content .item_right .price {
    flex-direction: column;
    gap: 10px;
  }

  .sec_2 .sec_2-content .sec_2-items .item .item_head {
    padding: 15px;
  }

  .left {
    flex-direction: column;
    align-items: center;
  }

  .sec_2 .sec_2-content .sec_2-items .item .item_content .item_right .btn {
    width: 169px;
  }
}

.sec_3 {
  .sec_3-items {
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
    justify-content: space-between;


    .sec_3-item {
      height: 250px;
      gap: 15px;
      padding: 50px 10.5px 50px 10.5px;
      width: calc((100%/5) - (21px*3/4));
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background: var(--light-dark);

      h3 {
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: var(--yellow);
      }


      p {
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--white);
      }
    }
  }

  .sec_3-bottom {
    margin-top: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    text-align: center;
    border: 1px solid var(--yellow);
    padding: 30px;

    h2 {
      font-weight: 600;
      font-size: 36px;
      text-transform: uppercase;
      color: var(--black);
      white-space: nowrap;
    }

    p {
      font-weight: 600;
      font-size: 18px;
      color: var(--light-black);
    }

    .btn {
      padding: 8px 20px 8px 20px;
      border-radius: 4px;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 1100px) {
  .sec_3 .sec_3-items .sec_3-item {
    width: calc((100%/3) - (21px*3/4));
  }

  .sec_3 .sec_3-bottom {
    margin-top: 0;
    width: calc((100%/3) - (21px*3/4));
    flex-direction: column;
  }

  .sec_3 .sec_3-bottom h2 {
    font-size: 24px;
    white-space: normal;
  }

  .sec_3 .sec_3-bottom p {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  .sec_3 .sec_3-items .sec_3-item {
    width: calc((100%/2) - (21px*3/4));
  }

  .sec_3 .sec_3-bottom {
    width: calc((100%/2) - (21px*3/4));
    padding: 30px 15px 30px 15px;
  }
}

@media screen and (max-width: 520px) {
  .sec_3 .sec_3-items .sec_3-item {
    width: calc((100%/1) - (21px*3/4));
  }

  .sec_3 .sec_3-bottom {
    width: calc((100%/1) - (21px*3/4));
    padding: 30px 15px 30px 15px;
  }

  .sec_3 .sec_3-items {
    justify-content: center;
  }
}

.sec_4 {
  margin: 90px 0 90px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    h2 {
      font-weight: 600;
      font-size: 36px;
      text-transform: uppercase;
      color: var(--black);
      margin: 0 0 30px 0;
    }

    .sec_4-left,
    .sec_4-right {
      width: 48.8%;
    }

    .sec_4-right {
      position: relative;

      .card_adress {
        width: 268px;
        position: absolute;
        right: 30px;
        bottom: -30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        background: var(--light-dark);

        span {
          font-weight: 400;
          font-size: 14px;
          color: var(--white);
          line-height: 18px;
        }

        p {
          font-weight: 600;
          font-size: 16px;
          color: var(--white);
          line-height: 20px;
        }

        .contact {
          display: flex;
          flex-direction: column;

          a {
            font-weight: 600;
            font-size: 18px;
            color: var(--yellow);
          }
        }

        .social {
          display: flex;
          align-items: center;
          gap: 10px;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 1px solid var(--yellow);
            border-radius: 50%;
            transition: all .2s ease;

            &:nth-child(1)>img {
              position: relative;
              right: -1px;
              top: -1px;
            }

            &:nth-child(2)>img {
              position: relative;
              right: 1px;
              top: 1px;
            }

            &:nth-child(4)>img {
              position: relative;
              right: -1px;
            }


            &:hover {
              border: 1px solid var(--light-dark);
            }

          }
        }
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .sec_4 .container {
    flex-direction: column;
    gap: 20px;
  }

  .sec_4 .container .sec_4-left,
  .sec_4 .container .sec_4-right {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .sec_4 {
    margin: 30px 0 30px 0;
  }

  .sec_4 .container h2 {
    font-size: 28px;
    margin: 0 0 15px 0;
  }

  .sec_4 .container .sec_4-right .card_adress {
    position: initial;
    margin: 20px auto;
    width: 100%;
  }
}

.sec_5 {
  margin: 0 0 90px 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
      font-weight: 600;
      font-size: 36px;
      text-transform: uppercase;
      color: var(--black);
      margin: 0 0 30px 0;
    }

    .left_container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .left_content {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--light-grey);

        .big {
          font-weight: 700;
          font-size: 72px;
          text-transform: uppercase;
          color: var(--grey);
          line-height: 1.0;
        }

        .little {
          font-weight: 700;
          font-size: 24px;
          text-transform: uppercase;
          color: var(--grey);
          line-height: 100%;

          span {
            font-weight: 400;
            font-size: 18px;
            text-transform: uppercase;
            color: var(--light-black);
            line-height: 140%;
          }
        }

      }
    }



    .sec_5-right {
      width: 50%;

      .right_items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;

        .right_item {
          width: calc((100%/2) - (21px*3/4));
          // width: 300px;
          display: flex;
          align-items: center;
          gap: 10px;
          border: 1px solid var(--white-border);
          padding: 20px;


          p {
            font-weight: 400;
            font-size: 18px;
            color: var(--black);
            line-height: 23px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .sec_5 .container .sec_5-right .right_items .right_item p {
    font-size: 12px;
  }

  .sec_5 .container .sec_5-right .right_items .right_item img {
    width: 50px;
    height: 62px;
  }

  .sec_5 .container .left_container .left_content .big {
    font-size: 50px;
  }

  .sec_5 .container .left_container .left_content .little {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .sec_5 {
    margin: 0 0 30px 0;
  }

  .sec_5 .container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .sec_5 .container h2 {
    text-align: center;
    font-size: 28px;
  }

  .sec_5 .container .sec_5-right .right_items .right_item,
  .sec_5 .container .sec_5-right {
    width: 100%;
    justify-content: center;
  }
}

.sec_6 {
  background-image: linear-gradient(to bottom, transparent 0%, transparent 400px, #292931 800px), url(../img/sec6-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #292931;
  padding: 70px 0 70px;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
    max-width: 1120px;

    &>div {
      width: calc(100% - 410px);

      .heading {
        font-weight: 900;
        font-size: 36px;
        line-height: 100%;
        color: var(--yellow);
        margin: 0 0 27px;
      }

      .accordion {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 110%;
        display: flex;
        align-items: center;
        color: var(--light-dark);
        position: relative;
        width: 100%;
        padding: 18px 75px 18px 25px;
        text-align: left;
        background: var(--white);
        border: 0;
        min-height: 80px;

        &.active {
          i {
            transform: rotate(135deg);
          }

        }

        i {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: 26px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 2px solid var(--yellow);
          transition: all .2s ease;
          -webkit-backface-visibility: hidden;
          transform-origin: center;
          box-sizing: content-box;


          &::before,
          &::after {
            position: absolute;
            content: '';
            top: 14px;
            left: 8px;
            width: 14px;
            height: 2px;
            background: var(--yellow);
            -webkit-backface-visibility: hidden;
            transform-origin: center;
          }

          &::before {
            transform: rotate(90deg);
          }
        }

      }

      .panel {
        margin: 0 0 20px;
        max-height: 0;
        position: relative;
        z-index: 1;
        padding: 0 75px 0 25px;
        background: var(--white);
        overflow: hidden;
        transition: all .2s ease;

        &:last-child {
          margin: 0;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 110%;
          color: var(--light-black);
          margin: 15px 0 15px 0;

          &:first-child {
            margin-top: 0
          }

          &:last-child {
            margin-bottom: 0;
            padding-bottom: 25px;
          }
        }
      }
    }

    &>div+div {
      position: sticky;
      width: 370px;
      background: var(--white);
      padding: 45px 40px 50px;
      top: 90px;

      .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: var(--black);
        margin: 0 0 20px;
      }

      form {
        .text-field {
          background: var(--link-white);
          border: 0;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: var(--light-dark);
          height: 62px;
          width: 100%;
          padding: 0 20px;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;
          color: var(--light-dark);
          margin: 30px 0 10px;
          text-align: center;
        }

        .choose {
          margin: 10px 0;
          border: 1px solid var(--border-two);
          display: flex;


          &>[type=radio] {
            display: none;

            &:checked+label {
              border: 1px solid var(--yellow);

              &[for="type-connection-1"] {
                background-image: url(../img/phone1.svg);
              }

              &[for="type-connection-2"] {
                background-image: url(../img/whatsapp1.svg);
              }

              &[for="type-connection-3"] {
                background-image: url(../img/telegram1.svg);
              }

              &[for="type-connection-4"] {
                background-image: url(../img/viber1.svg);
              }

            }
          }

          label {
            flex: auto;
            height: 42px;
            cursor: pointer;
            border: 1px solid var(--border-two);
            background: no-repeat center;

            &[for="type-connection-1"] {
              background-image: url(../img/phone.svg);
            }



            &[for="type-connection-2"] {
              background-image: url(../img/whatsapp.svg);
            }

            &[for="type-connection-3"] {
              background-image: url(../img/telegram.svg);
            }

            &[for="type-connection-4"] {
              background-image: url(../img/viber.svg);
            }
          }
        }

        .btn {
          margin: 20px auto 0;
          font-family: 'Source Sans Pro';
          font-style: normal;
          width: 290px;
          height: 62px;
          font-size: 16px;
          color: var(--btn-suff);
        }

        .notice {
          font-family: 'Source Sans Pro';
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: var(--light-dark);
          margin: 20px 0 0;

          a {
            text-decoration: underline;
            color: var(--light-dark);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .sec_6 {
    padding: 50px 0;
  }

  .sec_6 .container {
    flex-direction: column;
    gap: 0;
  }

  .sec_6 .container>div,
  .sec_6 .container>div+div {
    width: 100%;
  }

  .sec_6 .container>div .accordion {
    font-size: 18px;
    padding: 14px 60px 14px 15px;
  }

  .sec_6 .container>div .panel {
    padding: 0 60px 0 15px;
  }

  .sec_6 .container>div .heading {
    font-size: 26px;
  }

  .sec_6 .container>div+div form .btn {
    width: 100%;
    font-size: 15px;
  }
}

@media screen and (max-width: 520px) {

  .sec_6 .container>div,
  .sec_6 .container>div+div {
    width: 100%;
  }

  .sec_6 .container>div+div {
    padding: 20px 10px;
  }

  .sec_6 .container>div .accordion {
    font-size: 16px;
  }

  .sec_6 .container>div .heading {
    font-size: 20px;
    text-align: center;
  }

  .sec_6 .container>div+div form .btn {
    width: 100%;
    font-size: 13px;
  }
}

footer {
  background: var(--footer-bg);
  color: var(--white);

  .container {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;

    .left {
      display: flex;
      flex-direction: column;
      max-width: 382px;

      .logo {
        font-weight: 900;
        font-size: 38px;
        color: var(--white);
        line-height: 1.0;
        letter-spacing: 5px;
      }

      small {
        font-weight: 400;
        font-size: 18px;
        color: var(--yellow);
      }

      address {
        margin: 30px 0 0;
        display: flex;
        flex-direction: column;

        .title {
          margin: 0 0 5px;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          color: var(--white);
        }

        .address {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: var(--border-two);
          margin: 0 0 20px;
        }
      }
    }

    nav {
      display: flex;
      gap: 115px;
      margin-top: 20px;

      .heading {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: var(--white);
        margin: 0 0 20px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {

          a {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: var(--white);
            transition: all .2s ease;

            &:hover {
              color: var(--yellow);
            }
          }
        }
      }
    }

    .right {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      text-align: center;

      .tel {
        font-weight: 900;
        font-size: 30px;
        line-height: 38px;
        text-transform: uppercase;
        color: var(--white);
      }


      .btn {
        margin: 10px 0 15px;
        height: 48px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px;
        color: var(--btn-suff);
      }

      .mailto {
        font-weight: 400;
        font-size: 24px;
        text-decoration-line: underline;
        color: var(--white);
      }

      .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 15px 0 0 0;

        a {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid var(--white);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease;

          &:hover {
            border: 1px solid var(--footer-bg);
          }
        }
      }
    }
  }
}

.footer_info {
  background: var(--black);
  padding: 25px 0 25px 0;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .copy {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--light-black);
    }

    a {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1120px) {
  footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  footer .container nav {
    gap: 50px;
  }
}

@media screen and (max-width: 700px) {

  .footer_info .container .copy {
    margin: 0 auto;

    &:nth-child(1),
    &:nth-child(3) {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  footer .container {
    padding: 40px 0;
  }

  footer .container nav {
    gap: 20px;
    flex-direction: column;
  }

  footer .container .left address .address {
    font-size: 13px;
  }
}

.breadcrumbs {
  margin: 20px 0;

  ul {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;

    li {
      padding: 0 20px 0 0;
      border-right: 1px solid var(--light-grey);

      &:last-child {
        border: none;
      }

      &:last-child>a {
        color: var(--light-black);
      }

      a {
        font-weight: 400;
        font-size: 14px;
        color: var(--black);
      }
    }
  }
}

.sec_sale {
  margin: 36px 0 90px 0;

  .container {
    display: flex;
    gap: 30px;

    h1 {
      font-weight: 600;
      font-size: 36px;
      text-transform: uppercase;
      color: var(--black)
    }

    .sec_sale-left {
      display: flex;
      flex-direction: column;
      width: 95%;

      .sale_text {
        font-weight: 400;
        font-size: 18px;
        color: var(--light-black);
        line-height: 120%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
      }

      .sec_sale-card {
        width: 100%;
        border: 1px solid var(--border-white);
        padding: 30px;
        margin: 22px 0 0 0;

        .sale_card-top {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 20px;

          .card_img {
            width: 190px;

            img {
              height: 203px;
              object-fit: contain;
            }
          }

          .sale_card-info {

            .sale_text {
              border-bottom: 1px solid var(--border-white);
              padding-bottom: 20px;
            }

            .sale_card-calc {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 20px 0 20px 0;
              border-bottom: 1px solid var(--border-white);

              span {
                font-size: 24px;
                color: #3D444A;
              }

              .discount {
                font-size: 16px;
                text-decoration-line: line-through;
                color: var(--red);
              }

              .price {
                font-weight: 700;
                font-size: 24px;
                color: var(--black);
              }

              .weight {
                font-size: 16px;
              }

              p {
                padding: 6px 10px 6px 10px;
                background: #F2F2F2;
                font-size: 14px;
              }

              .btn-calc,
              .input-calc {
                font-size: 16px;
                font-weight: 600;
                border: 1px solid var(--white-border);
                height: 32px;
                text-align: center;
              }

              .btn-calc {
                background: var(--white);
                width: 29px;
              }

              .input-calc {
                width: 42px;
              }

              .btn {
                padding: 8px 20px;
              }
            }
          }
        }

        .sale_card-bottom {
          margin: 30px 0 0 0;


          .sale_download {
            margin: 30px 0 0 0;
            display: flex;
            gap: 20px;

            .download {
              display: flex;
              align-items: center;
              gap: 20px;
              border: 1px solid var(--yellow);
              padding: 30px;

              span {
                font-size: 16px;
                text-transform: uppercase;
              }

              .btn {
                padding: 8px 20px;
              }
            }
          }
        }
      }
    }

    .sec_sale-right {
      display: flex;
      flex-direction: column;
      width: 31%;

      .sec_sale-catalog {
        margin: 30px 0 52px 0;

        ul {
          display: flex;
          flex-direction: column;
          gap: 30px;

          li {
            border-bottom: 1px solid var(--border-white);
            padding-bottom: 20px;

            &:nth-child(2)>a {
              color: var(--light-black);
              background: var(--link-white);
              padding: 8px 108px 8px 10px;
            }

            a {
              font-size: 16px;
              letter-spacing: 0.02em;
              text-transform: uppercase;
              color: #3D444A;
              white-space: nowrap;
            }
          }
        }
      }

      .sec_right-card {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 20px;
        padding: 30px;
        border: 1px solid var(--border-white);

        .top {
          display: flex;
          gap: 21px;
          border-bottom: 1px solid var(--border-white);
          padding-bottom: 19px;

          img {
            width: 50px;
            height: 60px;
          }

          a {
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
            color: #3D444A;
          }
        }

        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          span {
            font-size: 16px;
            text-decoration-line: line-through;
            color: var(--red);

            &:nth-child(2) {
              font-weight: 700;
              font-size: 24px;
              color: var(--black);
              text-decoration-line: none;
              padding: 0 5px 0 5px;
            }

            &:nth-child(3) {
              font-weight: 400;
              font-size: 16px;
              color: var(--black);
              text-decoration-line: none;
            }
          }

          p {
            font-size: 14px;
            color: var(--black);
          }

          .btn {
            padding: 8px 20px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .sec_sale .container .sec_sale-left .sec_sale-card .sale_card-bottom .sale_download {
    flex-direction: column;
  }

  .sec_sale .container .sec_sale-left .sec_sale-card .sale_card-bottom .sale_download .download {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1140px) {
  .sec_sale .container .sec_sale-right {
    display: none;
  }

  .sec_sale .container h1 {
    font-size: 30px;
    text-align: center;
  }

  .sec_sale .container .sec_sale-left {
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .sec_sale .container .sec_sale-left .sec_sale-card .sale_card-top {
    flex-wrap: wrap;
    justify-content: center;
  }


}

@media screen and (max-width: 590px) {
  .sec_sale .container .sec_sale-left .sec_sale-card .sale_card-top .sale_card-info .sale_card-calc {
    flex-direction: column;
    gap: 10px;
    align-items: initial;
    text-align: center;
  }

  .sec_sale .container .sec_sale-left .sec_sale-card .sale_card-top .sale_card-info .sale_text {
    border: none;
  }

  .sec_sale .container h1 {
    font-size: 20px;
  }

  .sec_sale .container .sec_sale-left .sec_sale-card .sale_card-bottom .sale_download .download {
    padding: 15px;
    flex-direction: column;
  }

  .sec_sale .container .sec_sale-left .sec_sale-card .sale_card-bottom .sale_download .download span {
    font-size: 14px;
  }

  .sec_sale .container .sec_sale-left .sec_sale-card {
    padding: 10px;
  }
}